@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

/* core styles */
/* 236FB2 */
:root{
    --my-primary-color: #b99e00;
    --my-primary-color-light:rgb(255, 230, 0);

  }
  /* html{
    scroll-behavior: smooth;
  } */
  
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{

 
  line-height: 1.4;
  font-size: 1.6rem;
  position: relative;
  font-family: 'Montserrat', sans-serif; 

}
/* font-family: 'Roboto', sans-serif;  */


a,a:hover,a:visited,a:focus{
  text-decoration: none; 
  color: #fff; 
}

p{
  margin:1.2rem 0;
}

/* utility classes */
.my-container{
  max-width: 1100px;
  margin: auto;
  padding: 0 3rem;
  overflow: hidden;
}

.text-center{
  text-align: center;
}
.my-text-primary{
  color: var(--my-primary-color);
}
.my-l-heading{
  font-size: 64px;
  margin-bottom: 1.2rem;
  line-height: 1.1;
  font-weight: 600;
}


.my-m-heading{
  font-size: 3rem;
  margin: 2.4rem 0;
  line-height: 1.1;
  font-weight: 600;
  

 
}

.center-heading{
  display: flex;
  justify-content: center;
}

.my-btn{
  display: block;
  color: #fff;
  background: var(--my-primary-color);
  padding: .8rem 2.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  
  
}

.my-btn:hover{
  background: #a58c01;
}

.my-btn-dark{
  background: #333;

}

.py-1{padding: 2.5rem 0;}
.py-2{padding: 3rem 0;}
.py-3{padding: 5rem 0;}

.p-1{padding: 2.5rem;}
.p-2{padding: 3rem;}
.p-3{padding: 5rem;}

.pt-3{padding: 5rem 0 2.5rem 0}


.bg-dark{
  background: #333;
  color: #f4f4f4;
}
.bg-light{
  background: #f4f4f4;
  color: #333;
}
.bg-primary{
  background: var(--my-primary-color);
  color: #fff;
}

.list{
  margin: 1rem 0;
  list-style: none;
}
.list li{
  padding: 1rem 0;
  border-bottom: #444 dotted 1px;
}
/* navbar */
#navbar{
display: flex;
justify-content: space-between;
position: fixed;
top: 0; 
width: 100%;
color: #fff;
align-items: center;
z-index: 1;
padding: 1.5rem 5%;

}

#navbar .active{
color: var(--my-primary-color);
}
.solid{
  background: #1b1b1b;
  opacity: 0.88;
  transition: background-color 0.7s ease ;
  backdrop-filter: blur(100px);
}
.logo{
  margin: 0;
  font-family: 'Roboto', sans-serif; 
}

#navbar ul{
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;

}
@media (hover: hover) {
#navbar ul li a{

  padding: 1rem;
  margin: 0 .5rem;
}
}

#navbar ul li a:hover{
  color: var(--my-primary-color);

}

/* showcase */

 #showcase::before{
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../img/gray-laptop-computer-showing-html-codes-in-shallow-focus-160107.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
  /* margin-top: -78px; */
}
 #showcase{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  padding: 0 5%;
  /* overlay */
  /* position: absolute;
  top: 70px;
  left: 0; */
    
  background-color: rgba(0,0,0,0.7);


  
}

#showcase .first-name{
  /* display: inline-block;
  background-image: linear-gradient(to right, #ffd900,#fff8d2);
  -webkit-background-clip: text;
  color: transparent; */
  color: var(--my-primary-color);
  font-family: roboto, sans-serif;

}


 #showcase .lead{
  font-size: 2rem;
  margin-bottom: 3rem;
  /* padding: 0.5rem 1rem; */
  
  /* width: 100%; */
  display: inline-block;
  background-image: linear-gradient(to right, rgb(255, 230, 0),#ffffff);
  -webkit-background-clip: text;
  color: transparent;
  border-radius: 3px;

  
}

  #showcase .social i{

  padding: 1rem;
  /* border: 2px #fff solid;
  border-radius: 50%; */
}

 #showcase .social i:hover{
  color: var(--my-primary-color);
}

/* svg animation */
#elsaid{
  animation: fill 0.8s ease forwards 2.6s ;
}
#elsaid path:nth-child(1){
 stroke-dasharray: 234px;
 stroke-dashoffset: 234px;
 animation: line-anim 2s ease forwards;
}
#elsaid path:nth-child(2){
  stroke-dasharray: 147px;
  stroke-dashoffset: 147px;
  animation: line-anim 2s ease forwards 0.3s;
}
#elsaid path:nth-child(3){
  stroke-dasharray: 238px;
  stroke-dashoffset: 238px;
  animation: line-anim 2s ease forwards 0.6s;
}
#elsaid path:nth-child(4){
  stroke-dasharray: 220px;
  stroke-dashoffset: 220px;
  animation: line-anim 2s ease forwards 0.9s;
}
#elsaid path:nth-child(5){
  stroke-dasharray: 103px;
  stroke-dashoffset: 103px;
  animation: line-anim 2s ease forwards 1.2s;
}
#elsaid path:nth-child(6){
  stroke-dasharray: 241px;
  stroke-dashoffset: 241px;
  animation: line-anim 2s ease forwards 1.5s;
}

@keyframes line-anim{
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill{
  from{
    fill: transparent;
  }
  to{
    fill: #fff;
  }
}


/* about */
#about p{
  font-size: 2rem;
 
}
#about p:nth-child(4){
  text-align: center;
  margin-top: 3rem;
}
a.resume-link, a.resume-link:visited, a.resume-link:active, a.resume-link:focus{
  color:var(--my-primary-color);
  text-decoration: none;

}
.resume-link:hover{
  text-decoration: underline;
}



/* skills */
#skills .skill-items{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  padding: 1.5rem;

}

#skills .skill-items .skill-item{
  text-align: center;
  padding: 1.5rem;
 
}

#skills .skill-items .skill-item img{
  height: 50px;
  margin-bottom: 0.5rem;

}


#projects .projects{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-row-gap: 8rem;
  grid-column-gap: 3rem;

}

#projects .projects .project .project-name{
  font-size: 2.5rem;
}
#projects .projects .project .project-card{
box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
padding: 10px;
border-radius: 10px;
}

#projects .two-buttons{
  display: flex;
  justify-content: space-between;
}
#projects  .two-buttons .my-btn{
 width: 49%;
}


/* #projects .projects .project img{
  width: 100%;
  margin-bottom: 1.5rem;
} */

#projects .projects .project-showcase{
  position: relative;
  overflow: hidden;
}

#projects .project .project-caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,50%);
  opacity: 0;
  transition: all 0.5s;
}

#projects  .project-showcase:hover .project-caption{
  opacity: 1;
  transform: translate(-50%,-50%);
}
.project-img{
  width: 100%;
  margin-bottom: 1rem;
  transition: all .5s;
  transform: scale(1.02);
}
#projects  .project-showcase:hover .project-img{
  transform: scale(1);
  filter: blur(3px) brightness(75%);
}

/* contact-form */
#contact-form{
  padding: 2rem 0;
}
#contact-form .form-group{
  margin-bottom: 2rem;
}
#contact-form .form-group label{
  font-weight: normal;
  display: block;
  margin-bottom: .5rem;
}

#contact-form .form-group input,#contact-form .form-group textarea{
  padding: 1rem;
  width: 100%;
  border: 1px #dddddd solid;
}

#contact-form .form-group textarea{
  height: 20rem;
}

#contact-form .form-group input:focus,#contact-form .form-group textarea:focus{
  outline: none;
  border-color: var(--my-primary-color);
}


/* contact info */

.contact-info{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.contact-box{
  display: flex;
  align-items: center
}
.contact-box i{
  margin-right: 0.5rem;
}
/* footer */

#main-footer{
  background: #212121;
  color: #fff;
  
}





/* popups */

.popups{
  background: rgba(0,0,0,0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}


.popup-content{
  width: 75%;
  background: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  box-shadow: 0 3rem 6rem rgba(0,0,0,.4);
  /* border-radius: 3px; */
  overflow: hidden;
  display: flex;
  opacity: 0;
  transform: translate(-50%,-50%) scale(.25);
  transition: all .5s .2s;


}

/* open states */
.popups:target{
  opacity: 1;
  visibility: visible;
}

.popups:target .popup-content{
  opacity: 1;
  transform: translate(-50%,-50%) scale(1);
}

.popup-left{
flex: 3
/* display: grid;
grid-template-columns: repeat(2,1fr);
grid-gap: 1rem; */


}
.popup-left ol li{
  background-color: #fff;
  box-shadow: 1px 1px 4px;
  opacity:0.8;
}

.popup-left img{
  width: 100%;

}
.popup-right{
 flex: 1;
 padding: 1rem 1.5rem;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.popup-description {
  text-align: center;
}

a.popup-close{
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 2.5rem;
  display: inline-block;
  line-height: 1;
  color: #000;
}
.popup-close:hover{
color: var(--my-primary-color);
}


/* specaial styling for each popup */

#popup-archery h2{
  color: #d17b24;
}
#popup-archery h2 span{
  color: #333;
}

#popup-archery .popup-close:hover{
  color: #d17b24;
}

#popup-paint h2{
  color: #333;
}
#popup-paint h2 span:nth-child(1){
color: red;
}
#popup-paint h2 span:nth-child(2){
color: lightseagreen;
}
#popup-paint h2 span:nth-child(3){
color: limegreen;
}
#popup-paint h2 span:nth-child(4){
color: hotpink;
}

#popup-paint .popup-close:hover{
  color: hotpink;
}